<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Faculty</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--<link rel="stylesheet"-->
<!--	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
<!--<script-->
<!--	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script-->
<!--	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<link th:href="@{css/main.min.css}" rel="stylesheet" />-->
</head>
<body style="background: url('/image/access-denied-.jpg')">
 <div th:replace="fragments/header :: header-css"></div>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <div th:inline="text"><h2 style="color:red">Hello '[[${#httpServletRequest.remoteUser}]]',
                you do not have permission to access this page.</h2></div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>