<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Faculty Information</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br>
    <h3>Faculties Directory</h3>
    <hr>

    <!--    Add button-->
    <a th:href="@{/faculty/addfaculty}" class="btn btn-primary btn-sm mb-3">
        Add Faculty
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Faculty ID</th>
            <th>Faculty Name</th>
            <th>Date Joined</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="faculty:${faculties}">
            <td th:text="${faculty.facultyId}"></td>
            <td th:text="${faculty.name}"></td>
            <td th:text="${faculty.joinedDate}"></td>
            <!--Update button-->
            <td>
                <a th:href="@{/faculty/editfaculty/{id} (id=${faculty.facultyId})}" class="btn btn-info btn-sm" th:required="true">
                    Update
                </a>
                <a th:href="@{/faculty/delete(id=${faculty.facultyId})}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this person detail?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>