<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MUMShed</title>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

    </head>
<body>
<div class="container">
    <br>
    <h3>Students Directory</h3>
    <hr>

    <!--    Add button-->
    <a th:href="@{/students/addstudent}" class="btn btn-primary btn-sm mb-3">
        Add Student
    </a>

    <table class="table table-bordered table-striped" align="right">
        <thead class="thead-dark">
        <tr>
            <th> Student Id</th>
            <th> Name</th>
            <th> Email</th>
            <th> Address</th>
            <th> Entry</th>
            <th colspan="2"> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${students.empty}">
            <td colspan="2"> No student</td>
        </tr>
        <tr th:each="student : ${students}">
            <td><span th:text="${student.id}"> Id </span></td>
            <td><span th:text="${student.name}"> Name </span></td>
            <td><span th:text="${student.email}"> Email </span></td>
            <td><span th:text="${student.address}"> Address </span></td>
            <td><span th:text="${student.entry}"> Entry </span></td>
            <td><a th:href="@{/students/editstudent/{id}(id=${student.id})}">Edit</a></td>
            <td><a th:href="@{/students/delete/{id}(id=${student.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>

</body>
</html>