<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--   <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />-->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body >
	<div th:fragment="header" style="background: url('/image/header.jpg')">
		<!-- this is header -->


		<nav class="navbar navbar-inverse" >
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/home}">MUM Schedule</a>

				</div>

				<script type="text/javascript"
					src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav" >

						 <li class="dropdown"><a class="dropdown-toggle"
							  data-toggle="dropdown" href="#">Manage User <span
								  class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="active" sec:authorize="hasAuthority('ROLE_Admin')"><a
									th:href="@{/admin/faculty/all}">Faculty</a></li>
								<li class="active" sec:authorize="hasAuthority('ROLE_Admin')"><a
									th:href="@{/admin/students}">Student</a></li>
								<li class="active" sec:authorize="hasAuthority('ROLE_Admin')"><a
									th:href="@{/admin/admin/all}">Admin</a></li>
							</ul></li>

						<li class="active" sec:authorize="hasAuthority('ROLE_Admin')"><a
							th:href="@{/admin/course/all}">Course</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Admin')"><a
							th:href="@{/admin/schedule/list}">Schedule</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Admin')"><a
							th:href="@{/admin/allEntry}">Entry</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Faculty')"><a
							th:href="@{/faculty/update}">Profile</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Student')"><a
							th:href="@{/student}">View Profile</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Faculty')"><a
							th:href="@{/faculty/viewSchedule}">Show Sections</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Student')"><a
							th:href="@{/student/updatestudent}">Edit Profile</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Student')"><a
							th:href="@{/student/register}">Register</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Student')"><a
							th:href="@{/student/viewschedule}">View Schedule</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Admin')"><a
							th:href="@{/admin/role/all}">Manage Role</a></li>
						<li class="active" sec:authorize="hasAuthority('ROLE_Admin')"><a
							th:href="@{/admin/special/all}">Manage Specialization</a></li>
					</ul>

				</div>
			</div>
		</nav>
		<p sec:authorize="isAuthenticated()" class="text-right">
			Hi: <span sec:authentication="name"></span> | <span> <a
				th:href="@{/logout}">Sign Out</a></span>
		</p>
	</div>

</body>
</html>