<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Information</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br>
    <h3>Admins Directory</h3>
    <hr>

    <!--    Add button-->
    <a th:href="@{/admin/addadmin}" class="btn btn-primary btn-sm mb-3">
        Add Admin
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Admin ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Joined Date</th>
            <th>Address</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if ="${admins.empty}">
            <td colspan="2">No Admins </td>
        </tr>
        <tr th:each="admin: ${admins}">
            <td th:text="${admin.id}"></td>
            <td th:text="${admin.username}"></td>
            <td th:text="${admin.name}"></td>
            <td th:text="${admin.email}"></td>
            <td th:text="${admin.joinedDate}"></td>
            <td th:text="${admin.address}"></td>
            <!--                Update button-->
            <td>
                <a th:href="@{/admin/updateadmin/{id}(id=${admin.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/admin/delete/{id}(id=${admin.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this block?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>