<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:max-width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course Information</title>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--        <title>Title</title>-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

<body>
<div class="container">
    <br>
    <h3>Courses Directory</h3>
    <hr>

    <!--    Add button-->
    <a th:href="@{/courses/addcourse}" class="btn btn-primary btn-sm mb-3">
        Add Course
    </a>

<!--            <table class="table" align="left">-->
            <table class="table table-bordered table-striped" align="right">
                <thead class="thead-dark">
<!--                <tr>-->
                <tr>

                    <th> CourseId </th>
                    <th> CourseName </th>
                    <th> Prerequisites </th>
                    <th> StartDate</th>
                    <th> EndDate </th>
                    <th colspan="2"> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${courses.empty}">
                    <td colspan="2"> No Course </td>
                </tr>
                <tr th:each="course : ${courses}">
                    <td><span th:text="${course.courseId}"> courseId </span></td>
                    <td><span th:text="${course.courseName}"> courseName </span></td>
                    <td><span th:text="${course.prerequisites}"> prerequisites </span></td>

                    <td th:text="${course.startDate}" align="left" max-width:500px></td>
                    <td th:text="${course.endDate}"></td>
                    <td><a th:href="@{/courses/editcourse/{id}(id=${course.courseId})}" class="btn btn-info btn-sm">
                        Update
                        </a></td>
                    <td><a th:href="@{/courses/delete/{id}(id=${course.courseId})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to delete this course?'))) return false">
                        Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>