<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MUMShed</title>



</head>
<body>

<div class="container">
<footer th:fragment="footer">
    <div class="container">
        <div class="row">


            <div class="col-md-5 col-md-offset-1">
                <h2>Contact Us</h2>
                <div class="contact-us">
                    <ul>
                        <li>
                            <strong><i class="glyphicon glyphicon-envelope"></i>Email</strong>
                            <span>info@miu.edu.np</span>
                        </li>
                        <li>
                            <strong><i class="glyphicon glyphicon-pushpin"></i>Address</strong>
                            <span>Fairfield, IOWA</span>
                        </li>
                        <li>
                            <strong><i class="glyphicon glyphicon-earphone"></i>Phone</strong>
                            <span>+1-01-4481590</span>
                        </li>
                    </ul>
                </div><!-- quick-link end -->
            </div>

            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6020.940008767456!2d-91.9730729446656!3d41.01497215456512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e666733021a1fd%3A0xbd109f9c0f5e4fce!2sMaharishi%20International%20University!5e0!3m2!1sen!2sus!4v1589332341596!5m2!1sen!2sus" width="600" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


</footer>
</div>
</body>
</html>