
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MUMShed</title>





</head>
<body>
<header th:fragment="header">
    <div class="container">
        <div class="logo">
            <img src="../../static/images/logo.png" alt="logo" style="height: 100px; width: 180px;">
        </div>
        <div class="email">
            <i class="glyphicon glyphicon-envelope"></i>
            <span>info@sunway.edu.np</span>
        </div>
    </div>
</header>
</body>
</html>