
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	
			<div class="addForm">
			<h1>Add Entry</h1>
			<hr />
						<form method="post" action="/admin/addEntry" modelAttribute="entry">
						<div class="form-group mainContainer1">
							<label for="entryMonth">Entry Month</label>
							
							<input type="text" name="entryMonth" class="form-control" placeholder="Entry Month" />
							<br></br>
							
							<label for="numOfMpp">Number of MPP</label>
							<input type="number" name="numOfMpp" class="form-control" placeholder="Number of Fpp" />
							<br></br>
							
							<label for="numOfFpp">Number of FPP</label>
							<input type="number" name="numOfFpp" class="form-control" placeholder="Number of MPP" />
							<br></br>
							
							<label for="numOfFppOpt">Number of FPP OPT Students</label>
							<input type="number" name="numOfFppOpt" class="form-control" placeholder="Number of Fpp OPT" />
							<br></br>
							
							<label for="numOfMppOpt">Number of MPP OPT Students</label>
							<input type="number" name="numOfMppOpt" class="form-control" placeholder="Number of Mpp Opt" />
							<br></br>
							
							<label for="numOfUSstudents">Number of US Students</label>
							<input type="number" name="numOfUSstudents" class="form-control" placeholder="Number of US Students" />
							<br></br>
							<button class="btn btn-primary" type="submit">Save</button>
						</div>	
						</form> 
				</div>		
</body>
</html>