<!DOCTYPE HTML>
 <html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
      <title>add student</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--<link rel="stylesheet"-->
<!--	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
<!--<script-->
<!--	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script-->
<!--	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--	 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css"/>
</head>
<body>
<div th:replace="fragments/header :: header-css"></div>
<div th:replace="fragments/header :: header"> </div>
 
 
   <div class="container col-md-12"  style="border:thin" >
   <form  th:action="@{/admin/addstudent}" th:object="${Newstudent}" method="post"  class="form-horizontal">
			<fieldset >
				<legend>Student Personal Detail</legend>
				  <div class="alert alert-danger alert-dismissable fade in" >
					 
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
						
					</ul> 
					</div>
				<p>
					<input type="hidden" th:field="*{id}" name="ID" />

				</p>
				<table class="table">
					<tr>
						<td><label for="firstName">First Name : </label></td>
						<td><input id="firstName" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{userprofile.firstName}" /></td>
						<td><label for="lastName">Last Name : </label></td>
						<td><input id="lastName" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{userprofile.lastName}" /></td>
						<td><label for="idNumber">ID Number : </label></td>
							<td><input id="idNumber" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{idNumber}" /></td>
									
						
						<td>
							<label for="entry">Entry</label>
							<select name="entry" th:field="*{entry}">	   
							    <option th:each="entry1 : ${entries}" th:text="${entry1.entryMonth}" th:value = "${entry1.id}"></option>
						    </select>
						    
							<br></br>
						</td>
					</tr>
					<tr>
						<td><label for="birthdate">Birth Date :</label></td>
						<td><input id="birthdate" class="form-control mb-2 mb-sm-0"
							type="date" th:field="*{userprofile.birthdate}" /></td>

						<td><label for="email">Email : </label></td>
						<td><input id="email" class="form-control"
							th:field="*{userprofile.email}" /></td>
							<td><label for="degree">Degree : </label></td>
							<!-- <td><input id="degree" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{degree}" /></td> -->
							<td>
							<select name="degree" th:field="*{degree}">	   
							    <option th:value="Bsc.">MSc.</option>
							    <option th:value="phd.">Ph.D</option>
							    <option th:value="Bsc.">BSc.</option>
						    </select>
						    </td>
						    <td><label for="roles">User Role :</label></td>
						<td><select th:field="*{userprofile.roles}" multiple="multiple"  id="multiple-checkboxes">
								<option th:each="role : ${userTypeList}" th:value="${role.id}"
									th:text="${role.role}">User Role</option>
						</select></td>
							
					</tr>
					
					<tr>
						<td><label for="userName">User Name : </label></td>
						<td><input id="userName" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{userprofile.userName}" /></td>
						<td><label for="password">Password : </label></td>
						<td><input type="password" class="form-control mb-2 mb-sm-0"
							id="password" th:field="*{userprofile.password}" /></td>
							<td><label for="">Field : </label></td>
							<!-- <td><input id="field" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{field}" /></td> -->
							<td>
							<select name="degree" th:field="*{field}">	   
							    <option th:value="ComputerScience">Computer Science</option>
							    <option th:value="ComputerEng.">Computer Eng.</option>
							    <option th:value="Other">Others</option>
						    </select>
						    </td>
					</tr>
				</table>


				<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<input type="submit" class="btn btn-lg btn-primary btn-block"
									value="Save" />
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6"></div>

						</div>
				

			</fieldset>
			</form>
			</div> 
<script type="text/javascript">
    $(document).ready(function() {
        $('#multiple-checkboxes').multiselect();
    });
</script>
<div th:replace="fragments/footer :: footer"></div>
<!--<script src="/jquery/jquery-3.2.1.min.js"></script>    -->
<!--<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>-->
<!--<script src="/js/getrequest.js"></script>-->
</body>
</html>