<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<!--<link rel="stylesheet"-->
<!--	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />-->

<title>Error</title>

</head>
<body>
	
	<br />
	<h2>Error</h2>
	<div class="alert alert-danger fade in">
	
	<h3 style="color:red" th:text="${message}">You have been registered to the selected course!</h3>
		</div>
		<h4>
		<a href="/student/register"><i class="fa fa-hand-o-up">Go Back to registration</i></a>
	</h4>
</body>
</html>