<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manage Course</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div class="container">

    <div class="starter-template">
       <table>
       		<tr>
       			<td>
			       <div class="imageClass faculty">
			       	Welcome to home
			       </div>
		     	</td>
		     	<td>
			       <div class="imageClass students">
			       
			       </div>
		     	</td>
		     	<td>
			       <div class="imageClass entry">
			       
			       </div>
		     	</td>
		     	<td>
			       <div class="imageClass schedule">
			       
			       </div>
		     	</td>   
	       </tr>
       </table>
       
         
       

    </div>

</div>
<!-- /.container -->

<!--<div th:replace="fragments/footer :: footer"></div>-->

</body>
</html>