<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manage Course</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--<link rel="stylesheet"-->
<!--	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
<!--<script-->
<!--	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script-->
<!--	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />-->
</head>
<body>
<!-- <div th:replace="fragments/header :: header-css"></div>-->
<!--<div th:replace="fragments/header :: header"></div>-->
<div class="container">

    <div class="starter-template">
       <table>
       		<tr>
       			<td>
			       <div class="imageClass faculty">
			       	Welcome to home
			       </div>
		     	</td>
		     	<td>
			       <div class="imageClass students">
			       
			       </div>
		     	</td>
		     	<td>
			       <div class="imageClass entry">
			       
			       </div>
		     	</td>
		     	<td>
			       <div class="imageClass schedule">
			       
			       </div>
		     	</td>   
	       </tr>
       </table>
       
         
       

    </div>

</div>
<!-- /.container -->

<!--<div th:replace="fragments/footer :: footer"></div>-->

</body>
</html>