<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="ISO-8859-1" http-equiv="Content-Type"/>
    <title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="loginform">
            <h1>Please Login</h1>
			<hr>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <form th:action="@{/login}" method="post">
				<div class="form-group">
                <div><label> User Name : <input type="text" class="form-control" name="username"/> </label></div>
                <div><label> Password: <input type="password" class="form-control" name="password"/> </label></div>
                <div><input type="submit" value="Sign In" class="btn btn-primary"/>&nbsp&nbsp
					<input type="reset" value="Reset" class="btn btn-success"/></div>
				</div>
            </form>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>


</div>

</body>
</html>