
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manage User</title>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
		<div class="container">
		<a th:href="@{/admin/special/add}">Add Specialization</a>
        <h2> Manage Specialization </h2>
		<div class="table-responsive ">
			<table class="table table-hover">
				<tr>
					<th>Specialization ID</th>
					<th>Specialization Name</th>
					<!-- <th>Role Description</th> -->
				</tr>
				<tr th:each="special :${SpecialList}">
					<td th:text="${special.id}"></td>
					<td th:text="${special.specalization}"></td>
					<!-- <td th:text="${role.description}"></td> -->
					<td>
					<a	href="manageuser.html" th:href="@{|/admin/specialization/delete/${special.id}}"> 
					         <span class="glyphicon glyphicon-trash"></span></a></td>
					<td>
					<a th:href="@{|/admin/specialization/update/${special.id}}"> <span
							class="glyphicon glyphicon-pencil"></span></a></td>
				</tr>
			</table> 
		</div>
	</div>
</body>
</html>
