<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manage Course</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--<link rel="stylesheet"-->
<!--	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
<!--<script-->
<!--	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script-->
<!--	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
	<link href="../static/css/main.css" rel="stylesheet" media="screen" th:href="@{/css/main.css}">
	<script src="../static/scripts/main.js" th:src="@{/scripts/main.js}"></script>
</head>
<body>
<div th:replace="fragments/adminheader :: adminheader"></div>

<div class="app-main">
	<div th:replace="fragments/adminsidebar::adminsidebar"></div>
	<div class="app-main__outer">
		<div class="app-main__inner">
			<div class="row">
				<div class="container" id="homeDiv">
					<a th:href="@{/admin/course/add}" class="btn btn-primary">Add Course</a>
					<div class="jumbotran text-center"></div>
					<h2>Welcome to Manage Courses</h2>
					<hr>
				</div>


		<h2>Course Table</h2>
		<div class="table-responsive ">
			<table class="table table-hover">
				<tr>
					<th>Id</th>
					<th>Course Name</th>
					<th>Course Code</th>
					<th>Pre_Request_Course</th>
					<th colspan="2"> Actions </th>
				</tr>
				<tr th:each="course :${courses}">
					<td th:text="${course.id}"></td>
					<td th:text="${course.courseName}"></td>
					<td th:text="${course.courseCode}"></td>

					<td><span th:if="${course.prerequisite != null}"
						th:each="course, iterStat : ${course.prerequisite}"
						th:text="!${iterStat.last} ? ${course.courseName} + ',': ${course.courseName}">
					</span> <span th:unless="${noPre}">No</span></td>
					<td><a href="manageuser.html"
						th:href="@{|/admin/course/delete/${course.id}}"> <span
							class="glyphicon glyphicon-trash"></span></a></td>
					<td><a th:href="@{|/admin/course/update/${course.id}}"> <span
							class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a th:href="@{/admin/course/update/{id}(id=${course.Id})}" class="btn btn-info btn-sm">
						Update
					</a></td>
					<td><a th:href="@{/admin/course/delete/{id}(id=${course.Id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Are you sure you want to delete this course?'))) return false">
						Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
		</div>
	</div>
</div>
</body>
</html>
