<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="../static/css/main.css" rel="stylesheet" media="screen" th:href="@{/css/main.css}">
	<script src="../static/scripts/main.js" th:src="@{/scripts/main.js}"></script>

<!--<script-->
<!--  src="https://code.jquery.com/jquery-3.2.1.js" th:integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" th:crossorigin="anonymous"></script>-->


<!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" th:crossorigin="anonymous" />-->

<!--&lt;!&ndash; Optional theme &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" th:crossorigin="anonymous" />-->
<!--<link rel="stylesheet"  href="style.css" />-->
<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" th:crossorigin="anonymous"></script>-->

<!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />-->
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<div th:replace="fragments/adminheader :: adminheader"></div>

<div class="app-main">
	<div th:replace="fragments/adminsidebar::adminsidebar"></div>
	<div class="app-main__outer">
		<div class="app-main__inner">
			<div class="row">
		<div class="mainContainer">

							<form action="/admin/listSections"s>
					        	<input class="btn btn-primary" type="submit" value="Add Sections" />					        	
					        </form>
			<table class="table">
		    		
				      <tr>
				        <th>Section Code</th>
				        <th>Block</th>
				        <th>Course</th>
				        <th>Capacity</th>
				      </tr>
				  
			    	<tr th:each="section: ${sections}">
			    		<td th:text="${section.sectionCode}"></td>
			    		<td th:text="${section.block.blockMonth}"></td>
			    		<td th:text="${section.course.courseCode}"></td>
			    		
			    		<td th:text="${section.limitCapacity}"></td>
			    		<td>
			    			<div class="buttonDiv">
						        <form method="post" action="/admin/deleteSection">
						        <input name="block_id"  type="hidden" th:value="${block_id}" />
						        <input name="section_id"  type="hidden" th:value="${section.id}" />
						        	<input class="btn btn-danger" type="submit" value="Delete" />
						        </form>
					        </div>
					     </td>
				       	<td>
					        <div class="buttonDiv">
						        <form method="post" action="/admin/findSection">
						        	<input name="id"  type="hidden" th:value="${section.id}" />
						        	<input class="btn btn-primary" type="submit" value="Update" />
						        </form>
					        </div>
			       		 </td>    
			    	</tr>	
		    	</table>
</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>