
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>student schedule</title>
 <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<!-- <div th:replace="fragments/header :: header"/> -->

	<div class="col-md-3" style="margin-top:20px">
		
			<fieldset>
				<legend>Student Schedule page</legend>

				<!-- <p>
					<label for="firstName">First Name : </label>${user.firstName}
				</p>
				
					 -->
			</fieldset>
		
	
	</div>
	
</body>
</html>
