<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>view Entry</title>

</head>
<body>
<div th:fragment="facultyheader">
	<div class="mainContainer">
		<div class="mainHeader">
			<div class="leftHeader">
				<table>
					<tr>
						<td><img class="pic" alt="" th:src="@{/image/malecostume-512.png}" /></td>
						<td  class="myProfile"><div class="facultyName">Faculty</div>
							<div th:text="${newFaculty.userProfile.firstName}"></div>
							<hr /></td>
					</tr>
				</table>		
			</div>
			<div class="rightHeaderMain">
				<div class="middleHeader">
					<div class="facultyName">University Contacts</div>
					<div th:text="${newFaculty.userProfile.email}"></div>
					<hr />
					<div class="facultyName">Sections</div>
					<ul th:each="section: ${facultySection}">
						<li th:text="${section}"></li>
					</ul>
				</div>
				<div class="rightHeader">
					<div class="facultyName">Specialization</div>
					<ul th:each="spe: ${newFaculty.specializations}">
						<li th:text="${spe.specalization}"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
	</div>
 		
</body>
</html>