<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!--<script-->
<!--  src="https://code.jquery.com/jquery-3.2.1.js" th:integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" th:crossorigin="anonymous"></script>-->


<!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" th:crossorigin="anonymous" />-->

<!--&lt;!&ndash; Optional theme &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" th:crossorigin="anonymous" />-->
<!--<link rel="stylesheet"  href="style.css" />-->
<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" th:crossorigin="anonymous"></script>-->


<meta charset="ISO-8859-1" />
<title>view Entry</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link href="../static/css/main.css" rel="stylesheet" media="screen" th:href="@{/css/main.css}">
	<script src="../static/scripts/main.js" th:src="@{/scripts/main.js}"></script>

</head>
<body>
<div th:replace="fragments/adminheader :: adminheader"></div>

<div class="app-main">
	<div th:replace="fragments/adminsidebar::adminsidebar"></div>
	<div class="app-main__outer">
		<div class="app-main__inner">
			<div class="row">

<div class="mainContainer">
	<button class="btn btn-primary" onclick="location.href='/admin/addEntry'">Add Entry</button>
	<table class="table table-striped table-hover">
			<tr>
				    <th>Entry Month</th>
				    <th>Number of FPP</th>
				    <th>Number of MPP</th>
				    <th>Number of FPP-OPT</th>
				    <th>Number of FPP-OPT</th>
				    <th>Number of US</th>
					<th colspan="2">Actions</th>

			</tr>	    
			<tr th:each="entry : ${listOfEntries}">	
			        <td th:text="${entry.entryMonth}">1 </td>
			
			        <td th:text="${entry.numOfFpp}">Title ...</td>
			        <td th:text="${entry.numOfMpp}">Text ...</td>
			        <td th:text="${entry.numOfFppOpt}">Text ...</td>
			        <td th:text="${entry.numOfMppOpt}">Text ...</td>
			        <td th:text="${entry.numOfUSstudents}">Text ...</td>
				<td><a th:href="@{/admin/updateEntry/{id}(id=${entry.id})}" class="btn btn-info btn-sm">
					Update
				</a></td>
				<td><a th:href="@{/admin/deleteEntry(id=${entry.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this entry?'))) return false">
					Delete</a></td>
			</tr>
	</table>
</div>
			</div>
		</div>
	</div>
</div>

 		
</body>
</html>